
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<header class="mt-4">
                        <h1>Welcome to the About Page</h1>
                        <p>Here I will be giving a brief Introduction about myself.</p>
                    </header>

			 		<section>
						<h2>About Me</h2>
						<p>Hello! My name is Kulpreet Singh.</p>
						<p>I am a student in the WEB700 program. My student ID is 160902235.</p>
						<p>I am currently learning about web development, focusing on HTML, CSS, and JavaScript to build modern, responsive web applications.</p>
						<p>I arrived in Canada on 19th December 2023. I am 22 years old and I have completed my Bachelors in Commerce from Delhi University.</p>
	        		</section>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		