
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<article>
                        <h1>
                            Tables
                        </h1><br>
                            <table class="table" border="1">
                                <h3><caption><b><i>Students in Seneca</i></b></caption></h3>
                                <thead>
                                    <th>Name</th>
                                    <th>College</th>
                                    <th>Course</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mukul</td>
                                        <td>Seneca</td>
                                        <td>Business Information Technology</td>
                                    </tr>
                                    <tr>
                                        <td>Sachin</td>
                                        <td>Seneca</td>
                                        <td>Business Information Technology</td>
                                    </tr>
                                    <tr>
                                        <td>Meet</td>
                                        <td>Seneca</td>
                                        <td>Business Information Technology</td>
                                    </tr>
                                    <tr>
                                        <td>Gurnoor</td>
                                        <td>Seneca</td>
                                        <td>Business Information Technology</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td colspan="2"><b>Total Students</b></td>
                                    <td>4</td>
                                </tfoot>
                            </table>
                            <br>
                            <table class="table" border="2">
                                <caption>International Students</caption>
                                <thead>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Age</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Prateek</td>
                                        <td>India</td>
                                     <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Esheen</td>
                                        <td>India</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Ashnoor</td>
                                        <td>India</td>
                                        <td>22</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td colspan="2"><b>Total Students</b></td>
                                    <td>3</td>
                                </tfoot>
                            </table>
                        
                        <br>
            
                        <h1>Lists</h1>
            
                            <ol type="I">
                                <section>
                                
                                    <ol>
                                        <li>Chicken</li>
                                        <li>Bread
                                            <ul>
                                                <li>White Bread</li>
                                                <li>Brown Bread</li>
                                                <li>Multi-Grain Bread</li>
                                            </ul>
                                        </li>
                                        <li>Milk</li>
                                        <li>Eggs</li>
                                        <li>Rice</li>
                                    </ol>
                                    <p>This section demonstrates the use of ordered and unordered lists, including nested lists of different types.</p>
                                </section>
                        <h1>Images</h1>
                    
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" height="200" width="300">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" height="200" width="300">
                        <img src="https://www.hartz.com/wp-content/uploads/2022/04/small-dog-owners-1.jpg" height="200" width="300">
                        <p>
                            All are welcome to our free tutorial class online and enjoy learning HTML
                        </p>
            
                        <h1>Audio</h1>
                        <audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" controls></audio>
                       
            
                        <h1>Video</h1>
    
                        <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" controls></video>
            
                        <p>
                            Successfully rendered video and audio files
                        </p>
                    </article>

					
					<!-- End your code here  -->



				</main>
			</div>